@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EnterCustomer</title>
</head>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/Customer.js"></script>
<script language="javascript">
    
    var app = angular.module("myApp", []); // creating a APP

    app.controller('CustomerViewModel', CustomerViewModel); // Registering the VM
    // Controller
</script>
<body ng-app="myApp">
    <a href="/Home/Index"> Home </a>
    <br />
    <div> 
        <div ng-controller="CustomerViewModel">
            <form id="frm1" name="frm1">
                <i>Customer Name</i> 
                <input id="Text1" required   ng-model="Customer.CustomerName" type="text" 
                       name="CustomerName" /> <br />
                <span ng-show="!frm1.CustomerName.$valid">Name is required.</span><br />
                <i> Customer Code </i> <input required id="Text1" 
                ng-model="Customer.CustomerCode" type="text" name="CustomerCode" /><br />
                <span ng-show="!frm1.CustomerCode.$valid">Customer code is required.</span><br />
                <i> Customer Amount </i> <input id="Text1" type="text" ng-model="Customer.CustomerAmount"
                                                style="background-color: {{ Customer.CustomerAmountColor }}"
                                                name="customer.CustomerAmount" /><br />
            
            </form>
            <input id="Btn" ng-disabled="!(frm1.$valid)" type="button" value="Add customer" ng-click="Add()" />
            <input id="Btn" type="button" value="Update customer" ng-click="Update()" />
            <input id="Btn" type="button" value="Delete customer" ng-click="Delete()" />
            <br />
            <ul>
                <li id="errorMessages" class="error" data-ng-repeat="error in Errors">
                    {{error}}<br />
                </li>
            </ul>
            <table id="tbl">
                <tr>
                    <td>Customer Code</td>
                    <td>Customer Name</td>
                    <td>Customer Amount</td>
                </tr>
                <tr ng-repeat="cust in Customers">
                    <td>{{cust.CustomerCode}}</td>
                    <td>{{cust.CustomerName}}</td>
                    <td style="background-color: {{ cust.CustomerAmountColor }}">
                    {{cust.CustomerAmount}}</td>
                    <td><a ng-click="LoadByCode(cust.CustomerCode)" href="#">Select</a></td>
                </tr>
                </table>
        </div>
    </div>
</body>
</html>
