
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Simple Customer Application</title>
</head>
<body>
    <div> 
       Simple Customer application using MVC<br />
        The current time is  @ViewBag.MyTime
        <br />
        <a href="/CustomerUI/EnterCustomer"> Add New Customers</a><br />
        <a href="/CustomerUI/SearchCustomer"> Search Customers </a><br />
    </div>
</body>
</html>
